.container{
    width: 950px;
    height: 575px;
    background-color: silver;
    margin: 3px auto;
    padding: 20px;

}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-top: 30px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    float: right;
    position: relative; top: -300px;
}
.sub-content {
    height: 180px;
    width: 190px;
    background-color: yellow;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 20px;
    margin-left: 15px;
}
